/*mSUB [beg]*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@font-face {
   font-family: Genome;
   src: url(../fonts/Genome-Thin.otf);
}
/*end*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: #45c73c;
  font-size: 22px;
}

.cardBtn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
h1.clr{
    color: #000000;
}
.cardBtnMOD {
  border: none;
  outline: 0;
  padding: 12px;
  margin-top: -6px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.cardBtnMODclr {
  border: none;
  outline: 0;
  padding: 12px;
  margin-bottom: -10px;
  margin-top: -0px;
  color: white;
  background-color: #45c73c;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
}
/*mSUBSTITUTE*/
.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
@media screen and (max-width: 991px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}
.floatLeft {
    float:left;
}
.floatRigh {
    float:right;
}
body {
  background: #e8e8e8;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
h1{
   font-family: Genome;
}