ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #313131;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li a.active {
  background-color: #3399ff;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#nav {
width:1100px;
margin:0 auto;
list-style:none;
}
#nav li {
float:left;
}
#nav a {
display:block;
text-align:center;
width:155.5px; 
text-decoration:none; 
}
  